/* .myBG {
  height: 100vh;
  background: url("../assets/images/bg/mainn.jpg");
  background-size: cover;
}

.intro {
  height: 300px;
  display: flex;
  justify-content: end;
  align-items: end;
}

.title {
  font-size: 3rem;
  font-weight: 800;
  line-height: 1;
  text-shadow: 2px 2px black;
  letter-spacing: 4px;
} */

.navbar {
  position: sticky;
  top: 0;
  transition: background-color 0.6s;
  backdrop-filter: blur(10px);
  z-index: 1;
}

.bg-fixed {
  background-color: #d1e5ff46;
}

.intro {
  height: 100vh;
  background-image: url("../assets/images/bg/mainn.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.intro .title {
  font-size: 2.5rem;
  font-weight: bold;
}

.intro .introButton .btn-dark {
  background-color: #000;
  border: none;
}

.trending {
  height: auto;
  background: url("../assets/images/bg/wall.jpeg");
  background-size: cover;
}

.superhero {
  height: auto;
  background: url("../assets/images/bg/spiderman.jpg");
  background-size: cover;
}

.furious {
  height: auto;
  background: url("../assets/images/bg/fast.jpg");
  background-size: cover;
}

.horror {
  height: auto;
  background: url("../assets/images/bg/horror.jpg");
  background-size: cover;
}

/* .movieWrapper {} */

.movieImage {
  height: auto;
  background-color: black;
  margin: 5px;
  padding: 5px;
}

.images {
  height: 500px;
}